@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .btn-primary {
        color: rgb(245 157 57);
        background-color: rgb(251 226 197);
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 5px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }

    .btn-add {
        color: white;
        background-color: black;
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 10px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }

    .button-group {
        display: flex;
    }

        .button-group > * {
            margin-right: 10px; /* Khoảng cách giữa các nút */
        }

    .status-pending {
        color: orange;
    }

    .status-not-admitted {
        color: red;
    }

    .status-admitted {
        color: green;
    }
</style>
<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li style="margin-left:-50px;">Admin</li>
            <li>Dashboard</li>
        </ul>
        <a href="https://justboil.me/" onclick="alert('Coming soon'); return false" target="_blank" class="button blue">
            <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
            <span>Premium Demo</span>
        </a>
    </div>
</section>

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Dashboard
        </h1>
        <button class="button light">Button</button>
    </div>
</section>

<section class="section main-section">
    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            Teachers
                        </h3>
                        <h1>
                            @ViewBag.TotalTeachers
                        </h1>
                    </div>
                    <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            Students
                        </h3>
                        <h1>
                            @ViewBag.TotalStudents
                        </h1>
                    </div>
                    <span class="icon widget-icon text-blue-500"><i class="mdi mdi-account mdi-48px"></i></span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            Courses
                        </h3>
                        <h1>
                            @ViewBag.TotalCourses
                        </h1>
                    </div>
                    <span class="icon widget-icon text-red-500"><i class="mdi mdi-book-open-variant mdi-48px"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            Classes
                        </h3>
                        <h1>
                            @ViewBag.TotalClasses
                        </h1>
                    </div>
                    <span class="icon widget-icon text-green-500"><i class="mdi mdi-school mdi-48px"></i></span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            Events
                        </h3>
                        <h1>
                            @ViewBag.TotalEvents
                        </h1>
                    </div>
                    <span class="icon widget-icon text-blue-500"><i class="mdi mdi-calendar mdi-48px"></i></span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="flex items-center justify-between">
                    <div class="widget-label">
                        <h3>
                            Majors
                        </h3>
                        <h1>
                            @ViewBag.TotalMajors
                        </h1>
                    </div>
                    <span class="icon widget-icon text-red-500"><i class="mdi mdi-account-convert mdi-48px"></i></span>
                </div>
            </div>
        </div>
    </div>


    <div class="notification blue">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
            <div>
                <span class="icon"><i class="mdi mdi-buffer"></i></span>
                <b>Responsive table</b>
            </div>
            <button type="button" class="button small textual --jb-notification-dismiss">Dismiss</button>
        </div>
    </div>

    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Admissions
            </p>
            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Unique Code</th>
                        <th>Date</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registration in ViewBag.PendingRegistrations)
                    {
                        <tr>

                            <td data-label="RegistrationsId">@registration.RegistrationsId</td>
                            <td data-label="RegistrationStatus">@registration.RegistrationStatus</td>
                            <td data-label="UniqueCode">@registration.UniqueCode</td>
                            <td data-label="RegistrationDate">@registration.RegistrationDate.ToString("yyyy-MM-dd")</td>

                            <td>
                                <div class="button-group">
                                    <a style="background-color:green; color:white;" class="btn btn-primary"
                                       asp-controller="Admissions" asp-action="AdmissionsDetail"
                                       asp-route-StudentsInformationId="@registration.StudentsInformationId">
                                        <span class="icon"><i class="mdi mdi-eye"></i></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <button type="button" class="button @(ViewBag.CurrentPage == i ? "active" : "")" onclick="location.href='@Url.Action("Dashboard", "Admin", new { page = i, pageSize = ViewBag.PageSize })'">@i</button>
                        }
                    </div>
                    <small>Page @ViewBag.CurrentPage of @ViewBag.TotalPages</small>
                </div>
            </div>
        </div>

    </div>
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Classes
            </p>
            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Class Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var classes in ViewBag.RecentClasses)
                    {
                        <tr>

                            <td>@classes.ClassesId</td>
                            <td>@classes.ClassName</td>
                            <td>@classes.StartDate.ToString("yyyy-MM-dd")</td>
                            <td>@classes.EndDate.ToString("yyyy-MM-dd")</td>

                            <td>
                                <div class="button-group">
                                    <a style="background-color:green; color:white;" class="btn btn-primary" href="@Url.Action("ViewStudents", "Classes", new { classesId = classes.ClassesId })">
                                        <span class="icon"><i class="mdi mdi-eye"></i></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Courses
            </p>
            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Course Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in ViewBag.RecentCourses)
                    {
                        <tr>

                            <td>@course.CoursesId</td>
                            <td>@course.CourseName</td>
                            <td><img src="@course.CoursesImageUrl" alt="Thumbnail" width="100" height="100"></td>
                            <td>@course.Description</td>
                            <td>
                                <div class="button-group">
                                    <a href="@Url.Action("CoursesDetail", "Courses", new { courseId = course.CoursesId })" style="background-color:green; color:white;" class="btn btn-primary">
                                        <span class="icon"><i class="mdi mdi-eye"></i></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>