@model List<OnlineCollegeManagement.Models.ClassSchedules>
@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
    ViewData["Title"] = "MyTimetable";
}
@using System.Globalization
<div class="contain1">
    <div class="title-top">
        <p>Home / Account</p>
    </div>
    <div class="sidebar">

        <div class="username">
            Account of
            <strong>@Context.Session.GetString("Username")</strong>
        </div>


        <ul>
            <li>
                <div class="menu">
                    <i class="fas fa-shopping-cart"></i>
                    <a href="/MyTranscript/MyTranscript">My Transcript</a>
                </div>
            </li>

            <li>
                <div class="menu">
                    <i class="fas fa-key"></i>
                    <a href="/MyTranscript/ChangePassword">Change password</a>
                </div>
            </li>

            <li>
                <div class="menu">
                    <i class="fas fa-user-circle" style="color: #167ce9;"></i>
                    <a href="/MyTranscript/MyTimetable" style="color: #167ce9;" class="li1">My Timetable</a>
                </div>
            </li>

        </ul>
    </div>
    <div class="content">
        <div class="content-top">
            <div class="content-top-title">
                <p style="color: black">My Timetable </p>
            </div>

        </div>

        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>

                    <tr>
                        <th>Form</th>
                        <th>To</th>
                        @foreach (var schedule in Model)
                        {
                            // Tách các ngày học từ chuỗi StudyDays
                            var studyDays = schedule.StudyDays?.Split(',') ?? new string[0];

                            // Hiển thị từng ngày học dưới dạng tiêu đề cột
                            foreach (var day in studyDays)
                            {
                                <th>@day</th>
                            }

                            // Chỉ hiển thị một hàng tiêu đề
                            break;
                        }

                    </tr>
                    <tr>

                        <th></th>
                        <th></th>
                        @foreach (var schedule in Model)
                        {
                            // Tách các ngày học từ chuỗi StudyDays
                            var studyDays = schedule.StudyDays?.Split(',') ?? new string[0];

                            // Hiển thị phiên học dưới mỗi tiêu đề ngày
                            foreach (var day in studyDays)
                            {
                                <th>@schedule.StudySession</th>
                            }

                            // Chỉ hiển thị một hàng phiên học
                            break;
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var weekGroup in Model.GroupBy(s => CultureInfo.CurrentCulture.Calendar.GetWeekOfYear(s.SchedulesDate, CalendarWeekRule.FirstDay, DayOfWeek.Monday)))
                    {
                        // Lấy ngày đầu tiên và ngày cuối cùng của mỗi tuần
                        var startDate = weekGroup.Min(s => s.SchedulesDate).Date;
                        var endDate = weekGroup.Max(s => s.SchedulesDate).Date;

                        <tr>
                            <td>
                                @startDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @endDate.ToString("yyyy-MM-dd")
                            </td>

                            @foreach (var schedule in weekGroup.Take(3))
                            {
                                <td>@schedule.SubjectName</td>
                            }
                        </tr>
                    }
                </tbody>



            </table>
            <div class="row mt-5">
                <div class="col text-center">
                    <div class="block-27">
                        <ul>
                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="@(ViewBag.CurrentPage == i ? "active" : "")"><a href="@Url.Action("MyTimetable", new { page = i })">@i</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
    </div>


    <style>
        .content-top1 {
            border-top: 1px solid #167ce9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 3px; /* Điều chỉnh khoảng cách nếu cần thiết */
        }

        .btn {
            font-weight: bold;
            text-align: center;
            margin: 5px; /* Điều chỉnh khoảng cách giữa các nút */
            padding: 10px; /* Điều chỉnh padding của nút */
            border: 1px solid transparent;
            border-radius: 5px;
            transition: all 0.3s ease;
        }

        .site-btn {
            font-size: 13px;
            background: #167ce9;
            border: 2px solid #167ce9;
            border-radius: 5px;
            display: inline-block;
            padding: 3px 3px;
        }

        .contain1 {
            margin-top: 0px;
            background-color: #f8f8f8;
            padding: 50px;
            font-family: "Roboto", sans-serif;
        }

        .title {
            text-align: center;
            padding: 0 0 20px 0;
        }

        .title-bottom {
        }
        /* CSS cho phần bên trái (sidebar) */
        .sidebar {
            width: 250px;
            background-color: #fff;
            padding: 0 20px;
            float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 80vh;
        }

        .profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-top: 20px;
            text-align: center;
            align-items: center;
        }

        .username {
            font-size: 18px;
            margin-top: 9px;
        }

        .logout-button {
            background-color: #7fad39;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 50px;
            width: 200px;
            align-items: center;
            text-align: center;
        }

        .menu {
            display: flex;
            cursor: pointer;
        }

            .menu i {
                margin-right: 10px;
                padding: 5px 0 0 0;
            }

            .menu a {
                color: black;
            }

        .sidebar ul {
            list-style-type: none;
            padding: 30px 0 0 0;
        }

            .sidebar ul a li {
                padding: 0 0 40px 0;
                margin-right: 40px;
                height: 2px;
                font-size: 17px;
            }

        .content {
            margin-left: 280px;
            /* Để tạo khoảng cách với phần sidebar */
            min-height: 80vh;
            background-color: #fff;
            /* Đổ bóng sang trái và sang phải */
        }

        .content-top {
            display: flex;
            justify-content: space-between;
            padding: 20px 20px 0 20px;
        }

        .table-bordered {
            width: 100%;
            border-collapse: collapse;
        }

            .table-bordered th,
            .table-bordered td {
                padding: 8px;
                color: black;
            }

            .table-bordered th {
                background-color: #f8f8f8;
                height: 30px;
                border-bottom: 1px solid #DDE1EF;
                border-top: 1px solid #DDE1EF;
                font-weight: 1000;
                color: #167ce9;
            }

        .label-success {
            background-color: #28a745;
            color: #fff;
            padding: 5px 10px;
            border-radius: 3px;
        }
    </style>
