@{
    ViewData["Title"] = "Admissions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .btn-primary {
        color: rgb(245 157 57);
        background-color: rgb(251 226 197);
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 5px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }

    .btn-add {
        color: white;
        background-color: black;
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 10px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }

    .button-group {
        display: flex;
    }

        .button-group > * {
            margin-right: 10px; /* Khoảng cách giữa các nút */
        }

    .status-pending {
        color: orange;
    }

    .status-not-admitted {
        color: red;
    }

    .status-admitted {
        color: green;
    }
</style>


<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li>Admissions</li>
        </ul>

    </div>
</section>

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-start">
       
        <!-- Phần này để chứa nút "Print PDF" -->
        <div class="col-sm-2" style="margin-right: 5px;">
            <button onclick="myApp.printTable()" class="btn btn-add">
                <i class="fas fa-file-pdf"></i>
                Print PDF
            </button>
        </div>

        <!-- Phần này để chứa nút "Export Excel" -->
        <div class="col-sm-2" style="margin-right: 5px;">
            <button onclick="exportBlogToExcel()" class="btn btn-add">
                <i class="fas fa-file-excel"></i>
                Export Excel
            </button>
        </div>

        <!-- Phần này để chứa nút "Excel Filtered" -->
        <div class="col-sm-2">
            <button onclick="exportExcel()" class="btn btn-add">
                <i class="fas fa-file-excel"></i>
                Excel Filtered
            </button>
        </div>
    </div>
</section>
<form style="display: flex; align-items: center; border-radius: 5px; margin-top: 10px; flex-wrap: wrap;" asp-action="Admissions" asp-controller="AdmissionsManagement" method="get">
    <div class="input-group input-group-sm" style="margin-left: 21px; margin-bottom: 10px;">
        <select style="height: 45px; font-size: 0.765625rem; padding: 4px 8px; background-color: #F1F1F1; border-radius: 5px; width: 150px;" name="RegistrationStatus" class="form-control">
            <option value="">Filter by registrations</option>
            <option value="Pending">Pending</option>
            <option value="Not Admitted">Not Admitted</option>
            <option value="Admitted">Admitted</option>
        </select>
    </div>
    <div class="input-group input-group-sm" style="margin-right: 5px; margin-bottom: 10px;">
        <input value="" class="form-control" type="date" name="StartDate" placeholder="Start Date" style="height: 45px; font-size: 0.765625rem; padding: 4px 8px; background-color: #F1F1F1; border-radius: 5px; width: 150px; margin-left: 10px;" />
        <input value="" class="form-control" type="date" name="EndDate" placeholder="End Date" style="height: 45px; font-size: 0.765625rem; padding: 4px 8px; background-color: #F1F1F1; border-radius: 5px; width: 150px; margin-left: 10px;" />
    </div>
    <div class="input-group input-group-sm" style="margin-right: 5px; margin-bottom: 10px;">
        <input value="" class="form-control" type="text" name="UniqueCode" placeholder="Code" style="height: 45px; font-size: 0.765625rem; padding: 4px 8px; background-color: #F1F1F1; border-radius: 5px; width: 120px; margin-left: 28px;" />
    </div>

    <div class="input-group input-group-sm" style="margin-bottom: 10px; margin-left: -5px;">
        <button style=" margin-left:10px; height: 45px; background-color: #F1F1F1; border: none; border-radius: 5px;" type="submit" class="btn btn-default">
            <i class="mdi mdi-magnify" style="padding: 10px;"></i>
        </button>
    </div>
</form>
<section class="section main-section">
    <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Admissions
            </p>

        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Code</th>
                        <th>Registration Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registration in Model)
                    {
                        <tr>
                            <td>@registration.StudentsInformationId</td>
                            <td>
                                @{
                                    // Tạo class dựa trên giá trị của RegistrationStatus
                                    string statusClass = "";
                                    if (registration.RegistrationStatus == "Pending")
                                    {
                                        statusClass = "status-pending";
                                    }
                                    else if (registration.RegistrationStatus == "Not Admitted")
                                    {
                                        statusClass = "status-not-admitted";
                                    }
                                    else if (registration.RegistrationStatus == "Admitted")
                                    {
                                        statusClass = "status-admitted";
                                    }
                                }
                                <span class="@statusClass">@registration.RegistrationStatus</span>
                            </td>
                            <td>@registration.UniqueCode</td>
                            <td>@registration.RegistrationDate</td>
                            <td>
                                <div class="button-group">
                                    <a style="background-color:green; color:white;" class="btn btn-primary"
                                       asp-controller="AdmissionsManagement" asp-action="AdmissionsDetail"
                                       asp-route-StudentsInformationId="@registration.StudentsInformationId">
                                        <span class="icon"><i class="mdi mdi-eye"></i></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <button type="button" class="button @(ViewBag.CurrentPage == i ? "active" : "")" onclick="location.href='@Url.Action("Admissions", "AdmissionsManagement", new { page = i, pageSize = ViewBag.PageSize, searchString = ViewBag.SearchString })'">@i</button>
                        }
                    </div>
                    <small>Page @ViewBag.CurrentPage of @ViewBag.TotalPages</small>

                </div>
            </div>
        </div>
    </div>


</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.2/xlsx.full.min.js"></script>
<script>
    function exportBlogToExcel() {
        $.ajax({
            url: '/Excel/ExportBlogToExcel',
            type: 'GET',
            success: function (data) {
                var wb = XLSX.utils.book_new();
                var ws = XLSX.utils.json_to_sheet(data);
                XLSX.utils.book_append_sheet(wb, ws, "Blogs");
                var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
                var blob = new Blob([s2ab(wbout)], { type: 'application/octet-stream' });
                var link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = 'blogs.xlsx';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function s2ab(s) {
        var buf = new ArrayBuffer(s.length);
        var view = new Uint8Array(buf);
        for (var i = 0; i != s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
        return buf;
    }</script>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

<script>
    this.exportExcel = function () {
        // Lấy bảng cần xuất
        var tab = document.getElementById('sampleTable');
        // Tạo một đối tượng Excel
        var excel = new ExcelJS.Workbook();
        // Thêm một trang tính mới
        var sheet = excel.addWorksheet('Sheet 1');
        // Lặp qua các hàng và cột của bảng để đổ dữ liệu vào trang tính Excel
        for (var i = 0; i < tab.rows.length; i++) {
            var row = sheet.getRow(i + 1);
            for (var j = 0; j < tab.rows[i].cells.length; j++) {
                row.getCell(j + 1).value = tab.rows[i].cells[j].innerText;
            }
        }
        // Tạo một blob từ file Excel
        excel.xlsx.writeBuffer().then(function (buffer) {
            var blob = new Blob([buffer], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
            // Tạo một URL từ blob và mở cửa sổ mới để tải xuống file Excel
            var url = window.URL.createObjectURL(blob);
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display: none";
            a.href = url;
            a.download = "blogfiltered.xlsx";
            a.click();
            window.URL.revokeObjectURL(url);
        });
    }</script>
