@{
    ViewData["Title"] = "Admissions";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .btn-add {
        color: white;
        background-color: black;
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 10px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }
</style>


<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li>Tables</li>
        </ul>
       
    </div>
</section>

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <div class="col-sm-2 flex items-center">
            <!-- Nút "Add Product" -->
            <a href="/Admin/AdmissionsDetail" class="btn btn-add" title="Thêm">
                <i class="fas fa-plus"></i>
                Detail
            </a>
        </div>


    </div>
</section>

<section class="section main-section">
   <div class="card has-table">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                Clients
            </p>
            <a href="#" class="card-header-icon">
                <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
        </header>
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                      
                        <th>Name</th>
                        <th>FatherName</th>
                        <th>MotherName</th>
                        <th>Date Of Birth</th>
                        <th>Gender</th>
                        <th>CurrentAddress</th>
                        <th>PermanentAddress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var admission in Model)
                    {
                        <tr>
                            <td>@admission.StudentName</td>
                            <td>@admission.FatherName</td>
                            <td>@admission.MotherName</td>
                            <td>@admission.DateOfBirth</td>
                            <td>@admission.Gender</td>
                            <td>@admission.CurrentAddress</td>
                            <td>@admission.PermanentAddress</td>

                            <td>
                                <div class="button-group">
                                    <a style="background-color:green; color:white;" class="btn btn-primary"
                                       asp-controller="Admissions" asp-action="AdmissionsDetail"
                                       asp-route-StudentsInformationId="@admission.StudentsInformationId">
                                        <span class="icon"><i class="mdi mdi-eye"></i></span>
                                    </a>
                                </div>
                            </td>

                        </tr>
                    }

                   
                </tbody>
            </table>
            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        <button type="button" class="button active">1</button>
                        <button type="button" class="button">2</button>
                        <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>
            </div>
        </div>
    </div>

   
</section>