@model OnlineCollegeManagement.Models.StudentsInformation

@{
    ViewData["Title"] = "AdmissionsDetail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
</style>
<style>
    .btn-primary {
        color: rgb(245 157 57);
        background-color: rgb(251 226 197);
        border-color: none;
        /* border-top-left-radius: 10px !important; */
        /* border-bottom-right-radius: 10px !important; */
        border-radius: .357rem;
        border: none;
        font-weight: 600;
        padding: 5px 20px; /* Điều chỉnh kích thước theo ý muốn */
    }

    .page-link {
        padding: 5px 10px; /* Có thể điều chỉnh kích thước của nút */
        border: 1px solid #ccc; /* Thêm đường viền */
        border-radius: 3px; /* Bo tròn góc */
        margin-right: 5px; /* Khoảng cách giữa các nút */
        text-decoration: none; /* Loại bỏ gạch chân mặc định */
        color: #333; /* Màu chữ */
    }

        .page-link:hover {
            background-color: #f0f0f0; /* Màu nền khi hover */
        }
</style>



<section class="section main-section">

    <div class="container">
        <div class="row order_d_inner">
            @if (Model != null)
            {
                <div class="col-lg-4">
                    <div class="details_item">
                        <h3>Previous Exam Details </h3>
                        <ul class="list">
                            <li><a href="#"><span>School Name</span>: @Model.SchoolName</a></li>
                            <li><a href="#"><span>Registration Number</span>: @Model.RegistrationNumber</a></li>
                            <li><a href="#"><span>Center</span>: $@Model.Center</a></li>
                            <li><a href="#"><span>Academic Major </span>: @Model.AcademicMajor</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h3><br /></h3>
                        <ul class="list">
                            <li><a href="#"><span>Academic Major </span>: @Model.AcademicMajor</a></li>
                            <li><a href="#"><span>Field</span>: @Model.FieldOfStudy</a></li>
                            <li><a href="#"><span>MarksObtained</span>: @Model.MarksObtained</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="details_item">
                        <h3><br /></h3>
                        <ul class="list">
                            <li><a href="#"><span>Total Marks </span>: @Model.TotalMarks</a></li>
                            <li><a href="#"><span>Grade</span>: @Model.Grade</a></li>
                        </ul>
                    </div>
                </div>
                <div class="order_details_table">
                    <h2>Admissions Details</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:100px;" scope="col">ID</th>
                                    <th style="width:200px;" scope="col">Student Name </th>
                                    <th style="width:300px;" scope="col">Father's Name</th>
                                    <th style="width:200px;" scope="col">Mother's Name</th>
                                    <th style="width:200px;" scope="col">Date of Birth</th>
                                    <th style="width:200px;" scope="col">Gender</th>
                                    <th style="width:200px;" scope="col">Current Address</th>
                                    <th style="width:200px;" scope="col">Permanent Address</th>
                                    <th style="width:200px;" scope="col">Sports Details</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>@Model.StudentsInformationId</td>
                                    <td>@Model.StudentName</td>
                                    <td>@Model.FatherName</td>
                                    <td>@Model.MotherName</td>
                                    <td>@Model.DateOfBirth</td>
                                    <td>@Model.Gender</td>
                                    <td>@Model.CurrentAddress</td>
                                    <td>@Model.PermanentAddress</td>
                                    <td>@Model.SportsInfo</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <p>No admissions information available.</p>

            }
        </div>
    </div>


</section>
<div>
    <!-- Thêm input hidden để chứa giá trị returnUrl -->
    <input type="hidden" id="returnUrl" name="returnUrl" value="@Url.Action("Admissions", "Admissions")" />

    <div style="float:right; margin-top: 10px; display: flex; gap: 10px;">
        @if (ViewBag.RegistrationStatus == "Pending")
        {
            <!-- Hiển thị nút "Not Admitted" và "Admitted" -->
            <div style="float:right; margin-top: 10px; display: flex; gap: 10px;">
                <div>
                    <form method="post" action="@Url.Action("UpdateStatus", "Admissions", new { StudentsInformationId = Model.StudentsInformationId, status = "Not Admitted" })">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" value="@Url.Action("Admissions", "Admissions", new { StudentsInformationId = Model.StudentsInformationId })" />
                        <button onclick="return confirm('Surely you want to update the status to:  Not Admitted')" type="submit" class="btn btn-danger" style="padding: 5px 10px; border-radius: 5px; margin-right: 10px; background-color: red; color: white;">
                            Not Admitted
                        </button>
                    </form>
                </div>
                <div>
                    <form method="post" action="@Url.Action("UpdateStatus", "Admissions", new { StudentsInformationId = Model.StudentsInformationId, status = "Admitted" })">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" value="@Url.Action("Admissions", "Admissions", new { StudentsInformationId = Model.StudentsInformationId })" />
                        <button onclick="return confirm('Surely you want to update the status to: Admitted')" type="submit" class="btn btn-success" style="padding: 5px 10px; border-radius: 5px; margin-right: 10px; background-color: green; color:white;">
                            Admitted
                        </button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <!-- Hiển thị nút "Back" -->
            <div style="float:right; margin-top: 10px;">
                <a style="padding: 5px 10px; border-radius: 5px; margin-right: 10px; background-color: red; color: white; " href="@Url.Action("Admissions", "Admissions")" class="btn btn-warning">Back</a>
            </div>
        }

    </div>
</div>
