@model OnlineCollegeManagement.Models.StudentsInformation
@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
    ViewData["Title"] = "Admission";
}
<div class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/Page/Home">Home</a></span> <span>
                        Admission Procedure
                    </span>
                </p>
                <h1 class="mb-3 bread">
                    Admission Procedure
                </h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="blog-entry align-self-stretch">
                    <div class="text p-4 d-block">
                        <h3>Student Admission Form</h3>
                        <form method="get">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" id="name" name="StudentName" class="form-control" value="@Model.StudentName" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="father_name">Father's Name:</label>
                                        <input type="text" id="father_name" name="FatherName" class="form-control" value="@Model.FatherName" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="mother_name">Mother's Name:</label>
                                        <input type="text" id="mother_name" name="MotherName" class="form-control" value="@Model.MotherName" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="dob">Date of Birth:</label>
                                        <input id="dob" name="DateOfBirth" class="form-control" value="@Model.DateOfBirth.ToString("dd/MM/yyyy")" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="gender">Gender:</label>
                                        <input id="dob" name="DateOfBirth" class="form-control" value="@Model.Gender" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="major">Major:</label>
                                        <input id="dob" name="DateOfBirth" class="form-control" value="@Model.MajorsId" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="current_address">Current Address:</label>
                                        <textarea id="current_address" name="CurrentAddress" class="form-control" readonly>@Model.CurrentAddress</textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="permanent_address">Permanent Address:</label>
                                        <textarea id="permanent_address" name="PermanentAddress" class="form-control" readonly>@Model.PermanentAddress</textarea>
                                    </div>
                                </div>
                            </div>



                            <h3>Previous Exam Details</h3>
                            <table>
                                <tr>
                                    <th>SchoolName</th>
                                    <th>Center</th>

                                </tr>
                                <tr>
                                    <td><input type="text" name="SchoolName[]" value="@Model.SchoolName" readonly style="width: 270px;"></td>
                                    <td><input type="text" name="Center[]" value="@Model.Center" readonly style="width: 270px;"></td>


                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <th>Registration Number</th>
                                    <th>Academic Major</th>
                                    <th>Field</th>
                                </tr>
                                <tr>
                                    <td><input type="text" name="RegistrationNumber[]" value="@Model.RegistrationNumber" readonly></td>
                                    <td><input type="text" name="AcademicMajor[]" value="@Model.AcademicMajor" readonly></td>
                                    <td><input type="text" name="FieldOfStudy[]" value="@Model.FieldOfStudy" readonly></td>


                                </tr>
                                <tr>
                                    <th>Marks Obtained</th>
                                    <th>Total Marks</th>
                                    <th> Grade</th>
                                </tr>
                                <tr>
                                    <td><input type="number" name="MarksObtained[]" value="@Model.MarksObtained" readonly></td>
                                    <td><input type="number" name="TotalMarks[]" value="@Model.TotalMarks" readonly></td>
                                    <td><input type="text" name="Grade[]" value="@Model.Grade" readonly></td>
                                </tr>
                            </table><br>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="sports_details">Sports Details (if any):</label><br>
                                        <textarea id="sports_details" name="SportsInfo" class="form-control" readonly>@Model.SportsInfo</textarea>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Print PDF" class="btn btn-primary submit btn-print" onclick="myApp.printForm()">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        margin-left: 53px;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    .btn-primary {
        font-size: 18px; /* Đặt kích thước font */
        padding: 12px 24px;
        width: 200px;
        margin-left: 350px; /* Đặt kích thước padding */
    }
</style>

<script>var myApp = new function () {
        this.printForm = function () {
            // Ẩn nút in trước khi in
            var printButton = document.querySelector('.btn-print');
            printButton.style.display = 'none';

            var form = document.querySelector('.blog-entry form');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write('<html><head><title>Student Admission Form</title>');
            // Đọc và chèn tất cả các tệp CSS được liên kết
            var links = document.querySelectorAll('link[rel="stylesheet"]');
            links.forEach(function (link) {
                win.document.write(link.outerHTML);
            });
            win.document.write('</head><body>');
            win.document.write('<h3>Student Admission Form</h3>');
            win.document.write(form.outerHTML);
            win.document.write('</body></html>');
            win.document.close();
            win.print();

            // Hiển thị lại nút in sau khi in hoàn thành
            printButton.style.display = 'block';
        }
    }</script>



