@model List<OnlineCollegeManagement.Models.Events>

@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
    ViewData["Title"] = "Event";
}

<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Event</span></p>
                <h1 class="mb-3 bread">Events</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
             @foreach (var ev in Model)
        {
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('@ev.EventImageUrl');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a >@ev.EventDate</a></div>
                            <div><a >Admin</a></div>
                            <div><a class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                            <h3 class="heading mb-4"><a asp-controller="Page" asp-action="EventsDetail" asp-route-id="@ev.EventsId">@ev.EventTitle</a></h3>
                        <p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>
                        <p>@ev.EventDescription</p>
                        <p><a href="event.html">Join Event <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            }
           
           
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="@(ViewBag.CurrentPage == i ? "active" : "")"><a href="@Url.Action("Events", new { page = i })">@i</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Subcribe to our Newsletter</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-8">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>